# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
media/
staticfiles/
.env
.env.*
secrets.json

# Virtual Environment
venv/
ENV/
env/
.venv/
.ENV/
.venv.bak/

# VS Code
.vscode/

# macOS/Linux/Windows
.DS_Store
Thumbs.db
*.swp
